@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
    --color-terminal: #292b36;
    --borde-redondo: 4px;
}

* {
    font-family: 'Source Code Pro', monospace;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
}

.esqueleto{
    background-color: #F4A460;
    height: 50%;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
    
   
}

#input-original {
    border: white;
    border-radius: var(--borde-redondo);
    width: -webkit-fill-available;
    height: 50px;
    margin-top: 200px;
  
     
}

.rango {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    text-align: center;
    align-items: center;
}

input[type='range'] {
    -webkit-appearance: none;
    border-radius: var(--borde-redondo);
    background: white
    
}

.boton{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    height: 15%;
}

.boton2{
    border: 0px;
    border-radius: 10px;
    background-color:#DC7633  ;
    height: 70px;
    font-size: 15px;
    color: #FAE5D3 ;
    
}


#cifrador{
    background-color:#ffdb99;
    border-radius: 20px;
 }
#resultado {
    padding: 10px;
}